<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height <input type="text" name="pirate[height]"
  1st Ship Name: <input type="text" name="pirate[ships][][name]">
  1st Ship Type: <input type="text" name="pirate[ships][][type]">
  1st Ship Booty: <input type="text" name="pirate[ships][][booty]">
  2nd Ship Name: <input type="text" name="pirate[ships][][name]">
  2nd Ship Type: <input type="text" name="pirate[ships][][type]">
  2nd Ship Booty: <input type="text" name="pirate[ships][][booty]">
   <input type='submit'>
</form>